@font-face {
  font-family: "champagne limousines";
  src: url("./font/champagne.ttf");
}
p {
  font-family: "champagne limousines";
  font-weight: bold;
}
.App {
  text-align: center;
}
.tapitas1 {
  margin-bottom: -7%;
  width: 15%;
}
.logosm {
  width: 25%;
}
.flecha {
  width: 5%;
}
@media only screen and (max-width: 414px) {
  body {
    background-color: white;
    text-align: justify;
    padding: 7%;
  }

  .logo1 {
    margin-bottom: -73%;
    margin-left: 20%;
    width: 79%;
  }
  .tapitas1 {
    max-width: 100%;
    width: 45%;
  }

  .logosm {
    width: 100%;
  }
}

@media only screen and (max-width: 768px) {
  body {
    background-color: white;
    text-align: justify;
    padding: 7%;
  }

  .logo1 {
    margin-bottom: -73%;
    margin-left: 0%;
  }
  .tapitas1 {
    max-width: 100%;
    width: 38%;
  }

  .logos {
    margin-bottom: -73%;
    width: 47%;
    margin-left: 0%;
    margin: 0%;
  }
  .flecha {
    max-width: 100%;
    width: 10%;
    margin-right: 273px;
    margin-top: -55px;
  }
  .flechar {
    margin-top: -135px;
  }
  .postre3 {
    width: 41%;
    margin-top: 29px;
  }
  .flechar1 {
    margin-top: -91px;
  }

  .landingp11 {
    margin-top: 38px;
  }
  .flecharr {
    margin-top: -53px;
  }
}
