@font-face {
  font-family: "champagne limousines";
  src: url("./font/champagne.ttf");
}
p {
  font-family: "champagne limousines";
  font-weight: bold;
}
.App {
  text-align: center;
}
.tapitas1 {
  margin-bottom: -25%;
  width: 15%;
}
@media only screen and (max-width: 414px) {
  body {
    background-color: white;
    text-align: justify;
    padding: 7%;
  }

  .logo1 {
    margin-bottom: -73%;
    margin-left: 20%;
  }
  .tapitas1 {
    max-width: 100%;
    width: 45%;
  }
}

@media only screen and (max-width: 768px) {
  body {
    background-color: white;
    text-align: justify;
    padding: 7%;
  }

  .logo1 {
    margin-bottom: -73%;
    margin-left: 0%;
  }
  .tapitas1 {
    max-width: 100%;
    width: 38%;
  }

  .logos {
    margin-bottom: -73%;
    width: 47%;
    margin-left: 0%;
    margin: 0%;
  }
}
